.new-file-34{
    font-weight: bold;
}
.de-iu{
    margin-left: 3px;
}
.dec-ers{
    display: flex;
    flex-direction: row;
}
.max-es{
    margin-left: 100px;
}
.sug-try{
    display: flex;
    flex-direction: row;
}
.six-fix{
    margin-left: 20px;
    margin-top: 40px;
}