.best{
    font-weight: bold;
    color: blueviolet;
    font-size: xx-large;
    padding: 50px;
    
}
.instructors{
    color: black;
}
.academy{
    margin-top: 30px;
    color: black;
    font-size: small;
    font-weight: 200;

}
.variant{
    margin-top: 50px;
}

.de-ytw-qw{
    margin-left: 60px;
}



